.logo {
    width: 100px;
}

header{
    background-color: white;
}

footer {
    background-color: #808B96;
    color: black;
    font-weight: bold;
}

.menu {
    background-color: #808B96;
}

.link {
    color: white;
}

/*************PAGINA PRODUCTOS*************/

.imagen {
    display: inline-block;
    max-width: 301px;
}

.h2-productos {
    margin-top: 20px;
}

.shorts iframe {
    margin: 10px 30px;
    width: 248px;
    height: 450px;
}

/*************PAGINA DONDEESTAMOS*************/
.maps {
    height: 550px;
    padding: 10px;
}

