/*************  General *************/
.logo {
    width: 100px;
}

header {
    background-color: $b-color-white;
}

h1 {
    margin: 0px 20px 10px 20px;
}

footer {
    background-color: $b-color-menu;
    color: $colorBlack;
    font-weight: bold;
}

.img-efecto {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.menu {
    background-color: $b-color-menu;
}

.link {
    color: $colorWhite;
}