@import "variables";

@mixin padding10 {
    padding: 10px;
}

.logo {
    width: 100px;
}

header {
    background-color: $b-color-white;
}

h1 {
    margin: 0px 20px 10px 20px;
}

footer {
    background-color: $b-color-menu;
    color: $colorBlack;
    font-weight: bold;
}

.img-efecto {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.menu {
    background-color: $b-color-menu;
}

.link {
    color: $colorWhite;
}

/*************PAGINA PRODUCTOS*************/

.imagen {
    display: inline-block;
    max-width: 301px;
    margin-bottom: 10px;

    p {
        @include padding10;
    }

    &:hover {
        color: $colorWhite;
        background-color: $b-color-menu;
        border-radius: 6px;
    }
}

.h2-productos {
    margin-top: 20px;
}

.main-margin {
    padding-bottom: 80px;
}

/*************PAGINA TEMPORADAS*************/

.shorts {
    iframe {
        margin: 10px 30px;
        width: 248px;
        height: 450px;
    }
}

/*************PAGINA DONDEESTAMOS*************/

.maps {
    height: 550px;
    @include padding10;
}


@media (max-width: 768px){
    .versionmobile {
        width: 75%;
    }
}

@media (min-width: 769px){
    .versionmobile {
        width: 60%;
    }
}